img{
    width: 14em;
    border-radius: 10%;
    margin: 0.3em;

}
.nuevoauto{
    margin: 0.5em 0.8em;
}

td,th{
    padding: 0.8em;
}
td button{
    margin-left: 0.1em;
}
input{
    width: 40%;
    margin:0.5em 1em 1em 1em ;
    padding: 0.2em 0.5em;

}
label{
    font-size: 19px;
    margin:0.5em 1em 1em 1em ;

}